<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React Redux Express Starter App</title>
  </head>
  <body>
    <h1>Very Happy!</h1>
    <div id="main"></div>
    
    <!-- Place script tags just before closing body tag --> 
    <script src="./main.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="./sio-client.js"></script>
  </body>
</html>